# Subsystem toggles (1 = ON, 0 = OFF)
Process.Rf: 1
Process.Sf: 1
Process.Hg: 1
Process.Ucn: 1
Process.Csm: 1
Process.Temperature: 1
Process.Switch: 1
Process.Summary: 1
Process.Valves: 1
Process.ValveTiming: 1